
.avatars{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}


.avatar {
	width: 135px;
	height: 135px;
	border-radius: 10%;
}


#logo {
	width: 135px;
	height: 135px;
	border-radius: 50%;
	align-items: center;
	justify-content: space-between;
}